@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    box-sizing: border-box;
  }

.blah {
  color: hsl(226, 66%, 16%);
  background-color: #2c3e7c;
}


.matching-term {
  @apply w-[40%] mb-5 mx-auto;
}

.matching-meaning {
  @apply w-[85%] mb-5 mx-auto;
}