@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
  }

.blah {
  color: hsl(226, 66%, 16%);
  background-color: #2c3e7c;
}

.action-btn {
  @apply bg-emerald-500 hover:bg-emerald-600 text-wizard-white text-[0.95rem];
}

.gradient-btn {
  @apply bg-gradient-to-r from-violet-500 to-emerald-500 text-white border-0;
}

.matching-term {
  @apply w-[40%] mb-5 mx-auto;
}

.matching-meaning {
  @apply w-[85%] mb-5 mx-auto;
}